services:
  db:
    image: postgres:15 
    restart: always 
    environment:
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_pass
      POSTGRES_DB: todo_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    image: ghcr.io/harshitkh1/backend:latest 
    # build: ./backend
    restart: always
    environment:
      DB_HOST: db
      DB_USER: todo_user
      DB_PASSWORD: todo_pass
      DB_NAME: todo_db
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    # build: ./frontend
    image: ghcr.io/harshitkh1/frontend:latest 
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  pgdata:
