name: CI pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Push images to GitHub Container Registry
        run: |
          docker login --username harshitkh1 --password ${{ secrets.GHCR_SECRET }} ghcr.io
          docker build ./backend -t ghcr.io/harshitkh1/backend:latest 
          docker build ./frontend -t ghcr.io/harshitkh1/frontend:latest 
          docker push ghcr.io/harshitkh1/backend:latest
          docker push ghcr.io/harshitkh1/frontend:latest
